<%- include('../../partials/header', { websiteName: 'E-Voting' }) %>
<h2>Hello <%= candidateName %>,</h2>
    <p>Thank you for your interest in running for election in the upcoming E-voting election!</p>
    <p>We wanted to let you know that your application is currently pending approval by the election administrator. Once your application is approved, you will receive another email confirming your status as an official candidate.</p>
    
    <p>If you have any questions or need further assistance, feel free to contact us at <a href="mailto:<%= supportEmail %>"><%= supportEmail %></a>.</p>

    <p>We appreciate your participation and look forward to the election.</p>

    <p>Best regards,</p>
    <p>The E-voting Team</p>
  </div>

  <%- include('../../partials/footer', { 
    websiteDomain: 'localhost:com', 
    currentYear: new Date().getFullYear(), 
    websiteName: 'E-Voting',
    supportEmail: 'support@evoting.com',
  }) %>
  